body {
    margin-top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url(img/loginBackground.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    text-rendering: optimizeLegibility;
    text-align: center;
}

.form-div {
    margin-top: 120px;
}

.login {
    height: 500px;
}

.register {
    height: 800px;
}

.input-div {
    color: black;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border: 3px;
    border-style: ridge;
    border-color: darkred;
    background-color: white;
    width: 300px;
}

.btn {
    color: #fff;
    margin-top: 10px;
    padding: 5px 15px;
    font-weight: 500;
    border-radius: 100px;
    border: 2px;
    border-style: ridge;
    background-color: darkred;
    border-color: #8b0000;
    transition: background-color 1s;
}

.btn:active,
.btn:hover {
    background-color: #5c0000;
    transition: background-color 1s;
    transition: color 0.5s;
    cursor: pointer;
}

.register-paragraph {
    font-size: 13px;
}

.register-link {
    cursor: pointer;
    color: #8b0000;
    text-decoration: underline;
}

.form-el {
    margin-top: 5px;
    margin-bottom: 8px;
}

.hunter-el {
    margin-left: 8px;
}

.redirect {
    vertical-align: middle;
    text-align: center;
}
.hidden {
    display: none;
}

.attr-icon{
    width: 48px;
    height: 48px;
}
.attr-table{
    position: fixed;
    top:30px;
    left: 50px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 3px ridge #8b0000;
    width: 13%;
    vertical-align: center;
    text-align: center;
    color: black;
}
.attr-table-div{
    text-align: left;
}
.error {
    color: red;
}
.info{
    color: greenyellow;
}

